body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
.head {
  background-image: url(../image/donation13.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 70px;
}
#header {
  padding: 60px;
  text-align: center;
}
#header h1 {
  font-size: 65px;
  color: #ffffff;
  font-weight: 700;
}
#header p {
  margin-bottom: 70px;
  color: #a1f8f8;
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
}
.button {
  text-decoration: none;
  background-color: #ef6666;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  padding: 18px 30px;
  border-radius: 10px;
}
.donate {
  margin: 150px 90px;
  text-align: center;
}
.donate h2 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 45px;
}
.donate p {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 50px;
}
.maindiv {
  display: inline-flex;
  /* margin: 60px; */
}
.maindiv .child {
  margin: 10px;
  padding: 15px;
  background-color: #eef5f5;
  width: 120px;
  height: 110px;
  font-size: 30px;
  font-weight: 600;
  color: #394949;
}
#default {
  border: 3px solid red;
  border-radius: 5px;
}
#amount {
  margin: 50px;
  padding-bottom: 10px;
  display: block;
  text-align: center;
  width: 89%;
  outline: none;
  border: none;
  font-size: 25px;
  border-bottom: 2px solid #b2a6a6;
  opacity: 0.4;
}

#position {
  margin: 0 200px;
  text-align: center;
}
.donat-plan {
  padding: 25px;
  margin: 15px;
  text-align: left;
  width: 33.3%;
  background-color: #edf5f6;
  border-radius: 10px;
  padding-bottom: 0;
}
.donat-plan img {
  padding-top: 50px;
}
.donat-plan h3 {
  font-size: 25px;
}
.donat-plan p {
  font-size: 18px;
  font-weight: 500;
  text-align: justify;
}
#color {
  background-color: #fff4d6;
}
#margin {
  margin: 0 50px;
}
.child-div {
  margin: 10px;
  margin-bottom: 40px;
  padding: 70px;
  width: 50%;
  border-radius: 15px;
  background-color: #fcf8f8d4;
}
.child-div img {
  width: 100%;
}
.child-div p {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  padding-top: 30px;
  text-align: justify;
}
footer {
  padding: 30px;
  text-align: center;
  background-color: black;
  height: 50%;
}
footer h2 {
  font-size: 35px;
  color: #f04c4c;
  font-family: "Lobster Two", cursive;
}
footer p {
  color: rgb(255, 236, 201);
}
#form {
  margin: 5px 150px 0 150px;
  padding: 80px 190px;
  display: inline-flex;
  background-color: #fff4d6;
}
#form input {
  font-size: 18px;
  padding: 13px 18px;
  outline: none;
  border: none;
}
#form input[type="text"] {
  background-color: #ccd8d8;
  border-radius: 7px 0 0 7px;
  opacity: 0.7;
}
#form input[type="submit"] {
  background-color: #ff6060;
  border-radius: 0 7px 7px 0;
  padding: 0 50px;
  color: #ffffff;
  cursor: pointer;
}
